body{
	background-image: url(../images/grid.jpg);
	font-family: 'Open Sans', sans-serif;
}
.navbar-transparent{
	background-color: rgb(0,0,0,0.7);
}

#footer{
	background-color: #222222;
	color : #AAAAAA;
	padding-top: 3em;
	padding-bottom: 3em;
	font-size: 14px
}

#footer a{
	color: #AAAAAA;
}

#footer a:hover{
	color:#dddddd;
}

.social {
font-size: 24px;	
}

#wrapper {
	background-image: url(../images/background/background.jpg);
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color:white;
	text-shadow: 2px 2px 5px rgb(0,0,0,0.5);

}

#wrapper h1 {
	font-size: 72px;
}

#wrapper h2{
	font-size: 18px;
	background: rgb(0,0,0,0.4);
	padding: 0.2em;
	display: inline;
	letter-spacing: 2px;
	font-weight: 300;
}

#btn-commander{
	padding: 3em;
}

.btn {
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.btn:hover{
	background-color: #16a085;
	border-color:#16a085;
	font-size: 18px
	padding : 10px 16px;
}

.vertical-spacer{
	height: 3em
}

.feature img{
	width: 96px;
	vertical-align: middle;
	margin-bottom: 2em;
}

.feature p{
	font-weight: 300;
	letter-spacing: 1px;
	
}

.navbar {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px;
}



.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav >li >a,
.navbar-light .navbar-nav .nav-link {
  color: #eeeeee;
  padding-left: 15px;
  padding-right: 15px
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav .nav-link :hover,
.navbar-transparent .navbar-nav .nav-link :active,
.navbar-transparent .navbar-nav .nav-link :focus,
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:active, 
.navbar-light .navbar-nav .nav-link:focus ,
.navbar-light .navbar-nav .nav-link:visited
 {
  color: white;
  background-color: rgb(0,0,0,0.3);
  text-decoration: none;
}

.dropdown-item{
	font-size: 14px
}

.navbar-toggler{
color: #eeeeee;	
}

.vertical-spacer2{
	height: 1em
}

#lientypeform a{
	color:#1abc9c;
}